body{
  margin: 0;
  height: 100%;
  background: linear-gradient(to bottom right, #f5b027, #277df5);
  background-repeat: no-repeat;
  text-align: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text{
  text-align: center;
  padding-top: 25%;
  font-family: ubuntu;
  color: white;
}

footer{
  padding-top: 20%;
  font-family: ubuntu;
}

.btn
{
  outline: none;
  background-color: rbga("245,245,245,10");
  border: 1px solid white;
  border-radius: 15px;
  height: 50px;
  width: 135px;
  font-size: 20px;
  color: white;
  font-family: ubuntu;
  line-height: 15px;
  transition: 0.6s;
  overflow: hidden;
}

.btn:hover
{
  content: '';
  color: #a8a8a8;
  background: white;
  cursor: pointer;
  border-color: white;
  border: 3px solid white;
  font-size: 24px;
}

.btn:after
{
}

.btnLink{
  font-style: normal;
  font-feature-settings: normal;
  text-decoration: none;
  color: #3b3b3b;
  font-size: 18px;
}
.btn:hover
{
  font-size: 10px;
  color: #a8a8a8;
}
