/* CSS Document */

.ProjectImg{
	padding-top: 10px;
}

.text1232{
	font-size: 20px;
	color:#353535;
	font-variant: small-caps;
	text-decoration: underline;
	font-style: oblique;
}

.icon12{
    color: white;
    font-size: 30px;
    padding-top: 25px;
    text-align: center;
}

.Placeholder
{
	background-color: #121212;
}
